/*@font-face {
	src: url('../fonts/myriadl.otf');
	font-family: myriadl;
}
@font-face {
	src: url('../fonts/exo.otf');
	font-family: exo;
}
@font-face {
	src: url('../fonts/gotham.ttf');
	font-family: gotham;
}*/
/*@font-face {
	src: url('../fonts/roboto2.ttf');
	font-family: 'Roboto';
}
@font-face {
	src: url('../fonts/'Roboto'-light.ttf');
	font-family: 'Roboto'l;
}*/

.media_small {
	display: none;
}
@-ms-viewport{
  width: device-width;
}
@media (max-width: 600px) {
	.media_large {
		display: none;
	}
	.media_small {
		display: block;
	}
}
body, html {
	padding: 0px;
	margin: 0px;
	background-color: rgba(218, 86, 152, 1);
	/*height: 100%;*/
	/*font-family: 'Roboto';*/
	font-family: 'Roboto', sans-serif;
}
.header {

	width: 100%;
	z-index: 999;
	/*display: none;*/
	padding: 0px;
	margin: 0px;
	/*border-bottom: 2px solid black;*/
	text-align: center;
	/*box-shadow: 0 0 3px black;*/
	/*z-index: 999;*/
}
.header tr td {
	padding: 10px;
}
.logo-img-top {
	height: 8%;
	margin-top: 10px;
	margin-bottom: 5px;

}

.navbar {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	font-size: 1em;
	/*text-transform: uppercase;*/
	border-top: 2px solid rgba(218, 86, 152, 1);
}
.navbar li {
	display: inline-block;
	width: 14%;
	font-family: 'Roboto';
	color: white;
	text-align: center;
}
.navbar li a {
padding-top: 5px;
padding-bottom: 5px;

		/*font-size: 1em;*/
	box-sizing: border-box;
	display: block;
	height: 100%;
	text-decoration: none;
	color: white;
}
.navbar li a:hover {
	background-color: rgba(255,255,255,0.8);
	color: black;
}
.anim {
		-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.rounded-btn {
	background-color: transparent;
	line-height: 1.8em;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	font-family: 'Roboto';
	/*text-transform: uppercase;*/
	padding-right: 20px;
	padding-left: 20px;
	/*box-shadow: 0 0 3px black;*/
}
.rounded-btn:hover {
	background-color: white;
	color: rgba(218, 86, 152, 1);
	cursor: pointer;
}
small {
	font-weight: normal;
	font-size: 0.8em;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
	text-decoration: underline;
}
#tag {
	font-size: 1.7em;
	/*margin-top: 30px;*/
	padding-top: 0px;
	letter-spacing: 0.5px;
	font-weight: 300;
	margin-bottom:40px;

}
h1 {
	font-weight: normal;
	font-family: 'Roboto';
}
.content {
	/*position: absolute;
	top: 150px;
	left: 10%;
	height:100%;
	width: 80%;*/
	max-width: 800px;

	margin: 96px auto;

}
.page {
	font-family: 'Roboto';
	/*width: 100%;*/
	width: 96%;
	margin: 0 auto;

	margin-bottom: 50px;
	/*max-width: 768px;*/
	border-radius: 5px;
	box-sizing: border-box;
	border: 0px;
	/*padding: 20px;*/
	padding: 1% 5%;
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 10px #8a8a8a;
	/*padding-left: 40px;*/
	/*padding-right: 40px;*/
	/*padding-top: 30px;*/
}
.page p {
	font-size: 1em;
	padding-bottom: 10px;
	line-height: 1.5em;
	letter-spacing: 0.5px;
	font-family: 'Roboto';
	font-weight: 300;
	/*text-align: justify;*/
}
.page h1 {
	font-size: 1.5em;
	/*letter-spacing: 0.5px;*/

	margin-bottom: 30px;
}
.selected-menu {
	border-bottom: 3px solid white;
}
.page hr {
	width: 80%;
	border: 1px solid rgba(0,0,0,0.8);
	margin-top: 40px;
	margin-bottom: 40px;
}
.page a {
	color: black;
}

@media (max-width: 1024px) {

}

@media (max-width: 640px) {

	

}

@media (max-width: 480px) {
	.page {
	}




}
@media (max-width: 640px) {
		#nav {
		top: 80px;
		line-height: 50px;
	}
	.content {
		margin: 150px 6%;
	}
}
#btn_topright {
	line-height: 2em;
	width: 100%;
	font-size: 1em;
}

#header {
    position: absolute;
    width: 100%;
    padding: 20px 0 15px 0;
    top: 0px;
    color: #FFFFFF;
    z-index: 999;
   }
   #nav {
   	position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    line-height: 40px;

   }
   #nav a {
   	text-decoration: none;
   	color: white;
   	margin-left: 10px;
   	margin-right: 10px;
   	padding-left: 20px;
   	padding-right: 20px;
   	font-size: 1.1em;
   }
   #nav a:hover {
   	color: rgba(0,0,0,1);
   }
   #logo {
   	position: absolute;
    left: 32px;
    z-index: 999;
   }
   #topright {
   	position: absolute;
    right: 32px;
    /*max-width: 30%;*/
   }
.logo-text-top {
	/*height: 5%;*/
	max-width: 90px;

}